.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/results*.xml
test/gate_level_netlist.v
test/image_artifacts/*

# Quartus stuff
*.qpf
*.qsf*
*/db/
*/incremental_db/
quartus_build/simulation/
quartus_build/output_files/
quartus_build/c5_pin_model_dump.txt